#currencies_table {
    border-spacing: 0;
    border: 0.1rem solid black;
    font-size: 1.1rem;
    white-space: pre;  /* preserve whitespace and nowrap */
}

#currencies_table th, #currencies_table td {
    border: 0.1rem solid black;
    padding: 0.5rem;
}

#currencies_table td + td + td {
    background-color: lightgray;
}

#currencies_table input {
    font-size: 1.1rem;
    text-align: right;
}

#currencies_table input[readonly] {
    border: 0;
    background-color: lightgray;
}

#currencies_table input[readonly]:focus {
    outline: 0.1rem solid gray;
}

#USinputrow {
    font-weight: bold;
}

#USinput {
    border: 0.2rem solid blue;
    background-color: white;
}

#USinput:focus {
    background-color: yellow;
}
